<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dokterrkuu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GoogleSignIn"/>
        <activity android:name=".activity_signinup" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".TulangActivity" />
        <activity android:name=".single_row1" />
        <activity android:name=".PendengaranActivity" />
        <activity android:name=".JantungActivity" />
        <activity android:name=".KepalaActivity" />
        <activity android:name=".ShowAppointment" />
        <activity android:name=".PencernaanAcivity" />
        <activity android:name=".PernafasanActivity" />
        <activity android:name=".GigiActivity" />
        <activity android:name=".PengeheliatanActivity" />
        <activity android:name=".DocAppointment" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ActivityUtama" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>